In [1]:
import numpy as np 
import pandas as pd

In [2]:
books=pd.read_csv("Dataset/books.csv")
users=pd.read_csv("Dataset/users.csv")
ratings=pd.read_csv("Dataset/ratings.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_8904\2248818345.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("Dataset/books.csv")

In [3]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [4]:
def replace_http_with_https(url):
    if isinstance(url, str):
        if url[:5] != 'https':
            return url[:4] + 's' + url[4:]
        else:
            return url
    else:
        return url

books['Image-URL-L'] = books['Image-URL-L'].apply(replace_http_with_https)

In [7]:
books_list =books['Book-Title'].head(15).tolist()
for book_title in books_list:
        print(book_title)

Classical Mythology
Clara Callan
Decision in Normandy
Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It
The Mummies of Urumchi
The Kitchen God's Wife
What If?: The World's Foremost Military Historians Imagine What Might Have Been
PLEADING GUILTY
Under the Black Flag: The Romance and the Reality of Life Among the Pirates
Where You'll Find Me: And Other Stories
Nights Below Station Street
Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust
The Middle Stories
Jane Doe
A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
print(users.shape)
print(ratings.shape)

(278858, 3)
(1149780, 3)

In [8]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
books.duplicated().sum()

0

In [13]:
users.duplicated().sum()

0

In [14]:
ratings.duplicated().sum()

0

## popularity based filtering

In [15]:
##books

In [6]:
ratings_with_name=ratings.merge(books,on="ISBN")

In [7]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,https://images.amazon.com/images/P/0517145553....
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,https://images.amazon.com/images/P/1575660792....
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,https://images.amazon.com/images/P/0590907301....
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,https://images.amazon.com/images/P/0679752714....
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,https://images.amazon.com/images/P/0806917695....

In [11]:
num_rating_df=ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num-ratings'},inplace="true")
num_rating_df

                                               Book-Title  num-ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [12]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean(numeric_only=True).round(2).reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg-ratings'},inplace=True)
avg_rating_df

                                               Book-Title  avg-ratings
0        A Light in the Storm: The Civil War Diary of ...         2.25
1                                   Always Have Popsicles         0.00
2                    Apple Magic (The Collector's series)         0.00
3        Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4        Beyond IBM: Leadership Marketing and Finance ...         0.00
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.         0.00
241067                     Ã?Â?rger mit Produkt X. Roman.         5.25
241068                                Ã?Â?sterlich leben.         7.00
241069                              Ã?Â?stlich der Berge.         2.67
241070                                  Ã?Â?thique en toc         4.00

[241071 rows x 2 columns]

In [13]:
popular_df=num_rating_df.merge(avg_rating_df,on="Book-Title")
popular_df

,Book-Title,num-ratings,avg-ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.25
1,Always Have Popsicles,1,0.00
2,Apple Magic (The Collector's series),1,0.00
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.00
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.00
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.00
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.25
241068,Ã?Â?sterlich leben.,1,7.00
241069,Ã?Â?stlich der Berge.,3,2.67
241070,Ã?Â?thique en toc,2,4.00

In [10]:
popular_df=popular_df[popular_df['num-ratings']>=250].sort_values('avg-ratings',ascending=False).head(100)
popular_df

,Book-Title,num-ratings,avg-ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.85
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.82
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.74
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.50
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.18
...,...,...,...
176827,The Beach House,435,3.35
37121,Cold Mountain : A Novel,311,3.35
89780,Icy Sparks,309,3.35
14351,Angela's Ashes (MMP) : A Memoir,326,3.34
86511,How to Be Good,304,3.31

In [11]:
popular_df=popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-L',
'num-ratings','avg-ratings']]

In [13]:
popular_df

,Book-Title,Book-Author,Image-URL-L,num-ratings,avg-ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,https://images.amazon.com/images/P/0439136350....,428,5.85
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,https://images.amazon.com/images/P/0439139597....,387,5.82
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,https://images.amazon.com/images/P/0590353403....,278,5.74
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,https://images.amazon.com/images/P/043935806X....,347,5.50
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,https://images.amazon.com/images/P/0439064872....,556,5.18
...,...,...,...,...,...
338,The Beach House,James Patterson,https://images.amazon.com/images/P/0446612545....,435,3.35
344,Cold Mountain : A Novel,CHARLES FRAZIER,https://images.amazon.com/images/P/0375700757....,311,3.35
345,Icy Sparks,Gwyn Hyman Rubio,https://images.amazon.com/images/P/0142000205....,309,3.35
347,Angela's Ashes (MMP) : A Memoir,Frank McCourt,https://images.amazon.com/images/P/0684872153....,326,3.34
348,How to Be Good,Nick Hornby,https://images.amazon.com/images/P/1573229326....,304,3.31

# collaborative filtering

In [8]:
x=ratings_with_name.groupby('User-ID').count()['Book-Rating']>200
uwr=x[x].index

In [9]:
filtered_rating=ratings_with_name[ratings_with_name['User-ID'].isin(uwr)]

In [10]:
y=filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books=y[y].index

In [11]:
final_ratings=filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
pt=final_ratings.pivot_table(index="Book-Title" ,columns="User-ID",values="Book-Rating")
##pt

In [12]:
pt.fillna(0,inplace=True)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pt)
similarity_scores.shape

(706, 706)

In [14]:
pt.index[704]

'Zoya'

In [15]:
def recommend(book_name):
    # Clean and normalize book_name
    book_name_cleaned = book_name.lower().replace(" ", "")

    pt_index_cleaned = []

    for name in pt.index:
        cleaned_name = name.lower().replace(" ", "")
        pt_index_cleaned.append(cleaned_name)

    # index fetch
    index = np.where(np.array(pt_index_cleaned) == book_name_cleaned)

    if len(index[0]) == 0:
        return "Book not found"

    index = index[0][0]

    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[0:6]

    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-L'].values))

        data.append(item)

    return data

In [17]:
recommend('animal farm')

[['Animal Farm',
  'George Orwell',
  'https://images.amazon.com/images/P/0451526341.01.LZZZZZZZ.jpg'],
 ['1984',
  'George Orwell',
  'https://images.amazon.com/images/P/0451524934.01.LZZZZZZZ.jpg'],
 ['Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
  'Louise Rennison',
  'https://images.amazon.com/images/P/0064472272.01.LZZZZZZZ.jpg'],
 ['Midnight',
  'Dean R. Koontz',
  'https://images.amazon.com/images/P/0425118703.01.LZZZZZZZ.jpg'],
 ['Second Nature',
  'Alice Hoffman',
  'https://images.amazon.com/images/P/0399139087.01.LZZZZZZZ.jpg'],
 ['Call of the Wild',
  'Jack London',
  'https://images.amazon.com/images/P/1559029838.01.LZZZZZZZ.jpg']]

In [1]:
similar_items = sorted(list(enumerate(similarity_scores[0])))

NameError: name 'similarity_scores' is not defined

In [14]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [37]:
books.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,https://images.amazon.com/images/P/0195153448....
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,https://images.amazon.com/images/P/0002005018....
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,https://images.amazon.com/images/P/0060973129....
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,https://images.amazon.com/images/P/0374157065....
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,https://images.amazon.com/images/P/0393045218....
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,https://images.amazon.com/images/P/0399135782....
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,https://images.amazon.com/images/P/0425176428....
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,https://images.amazon.com/images/P/0671870432....
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,https://images.amazon.com/images/P/0679425608....
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,https://images.amazon.com/images/P/074322678X....

In [38]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))